@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
    @apply text-black antialiased;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
}

em {
  font-style: normal;
}

/* sm */
@media (min-width: 640px) {
    html, body {
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    html, body {
        font-size: 15px;
    }
}

/* lg */
@media (min-width: 1024px) {
    html, body {
        font-size: 17px;
    }
}

/* xl */
@media (min-width: 1280px) {
    html, body {
        font-size: 19px;
    } 
}

/* 2xl */
@media (min-width: 1536px) {
    html, body {
        font-size: 20px;
    }
}


@layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
  
    .snap-y {
      --scroll-snap-direction: y;
    }
  
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
  
    .snap-start {
      scroll-snap-align: start;
    }
  }
  
  .splide__slide {
    opacity: 50%;
  }
  
  .splide__slide.is-active {
    opacity: 100%;
    border: none;
  }

  /* map */

  .mapboxgl-popup-tip{
    display: none;
  }
  
  .marker,
  .mapboxgl-popup .mapboxgl-popup-content{
    @apply bg-white text-[#000000] px-3 py-1 rounded-full shadow-xl cursor-pointer hover:scale-110;
  
  }
  
  .mapboxgl-popup .mapboxgl-popup-content{
    pointer-events: none
  }
  
  .prose{
    font-size: 1rem;
    & p + p {
      @apply mt-[1.5rem];
    }
    & h1{
      font-size: 2rem;
    }
    & h2{
      font-size: 1.5rem;
    }
    & a{
      @apply underline
    }
    & iframe{
      @apply w-full h-[360px]
    }
  }
  
  .gallery img{
    @apply w-full border;
  }